body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-auto-columns: 20vw 60vw 20vw;
    grid-auto-rows: 5vh 95vh;
    grid-template-areas:
        "lp msg rp"
        "lp inp rp";
}

#chat {
    grid-area: msg;
    word-wrap: break-word;
}

#left-pane {
    grid-area: lp;
}

#right-pane {
    grid-area: rp;
}

#msg-form {
    position: fixed;
    bottom: 0;
    width: 90%;
    margin: 4vh 3vw;
}

#msg-bar {
    font-family: sans-serif;
    width: 52vw;
    padding: 1.5vh 1.5vw;
    font-size: 1vw;
    resize: none;
}

#msg-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    max-height: 87vh;
}

#msg-list > li {
    padding: 5px 10px;
    font-size: 1vw;
}

.uv-border-all {
    border-color: #55ff59;
    border-style: solid;
    border-width: 0.5vh;
    border-radius: 0.75vh;
}

.uv-border-r {
    border-color: lightgreen;
    border-style: solid;
    border-width: 0 0.25vw 0 0;
    border-radius: 0;
}

.uv-border-l {
    border-color: lightgreen;
    border-style: solid;
    border-width: 0 0 0 0.25vw;
    border-radius: 0;
}

.msg-author {
    margin: 0;
    background-color: lightgreen;
    border-radius: 0.35vh;
    border-width: 0;
    border-style: solid;
    padding: 0.25vh 0.25vw;
    font-weight: bold;
    font-size: 1vw;
    color: #333;
}

.msg {
    margin-top: .5vh;
}
